@import "bootstrap";

body {
  color: #606c76;
}

nav.sticky-top {
  border-top: 0.75rem solid #9b4dca;
}

form.button_to {
  margin-bottom: 1rem;
}

form {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}
