@import "bootstrap";

body {
  color: #606c76;
}

nav.sticky-top {
  border-top: 0.75rem solid #9b4dca;
}

form.button_to {
  margin-bottom: 1rem;
}

form {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

.page-link.active, .active > .page-link {
  z-index: 3;
  background-color: #9b4dca;
  border-color: #9b4dca;
}

.pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  z-index: 2;
  color: #fff;
  background-color: #666;
  border-color: #666;
  cursor: default;
}

.page-link:hover {
  color: #9b4dca;
}

.pagination>li>a, .pagination>li>span {
  color: #9b4dca;
}
