<%= render "search" %>
<%= render @posts.order(created_at: :desc) %>


   <% if current_user.present? %>
    <div class="text-end">
      <%= button_to "Novo Post", new_post_path(@post), method: 'get' %>
    </div>
  <% else  %>
  <% end %>